body{
    background:green;
}

{        
    padding-top: 60px;
    padding-bottom: 40px;
}
.container{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
}
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background: #333;
    padding: 10px 0;
    color: #fff;
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}    